/*
colors-schemes
#373737 charcoal

#96858f dusky
#6d7993 lavender
#9099A2 overcast
#d5d5d5 paper
 */
html {
    padding: 0px;
    margin: 0px
}

/* core styling */
body {
    width:80%;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    color: charcoal;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3 {
    text-transform: capitalize;
    margin: 0;
    padding: 5px;
}

p {
    margin: 0;
    padding: 1em 0;
}

.btn-primary {
    background-color: #9099A2;
    border: #96858f;
}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #666c73 !important;
    border: #96858f !important;
    outline: none !important;
    box-shadow: none;
}
/* header */

.section-a h1 {
    font-family: 'Dancing Script', cursive;
    color: #96858f;
    margin-top: 30px;
    font-size: 65px;
}

.fa {
    color: #96858f;
    padding-right: 10px;
}

.cont-wrap h3 {
    color: #373737;
    font-size: 20px;
}

/* navbar */
.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, 0);
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none !important;
    box-shadow: none;
}

.navbar-toggler {
    font-size: 30px;
}

.menu li {
    margin: 5px;
    height: 40px;
}

.menu li, a {
    font-family: 'Cabin', sans-serif;
    border-radius: 5px;
    padding: 5px;
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    list-style-type: none;
    color: black;
}
/* about */
/* main */
.section-main-top {
    height: auto;
    width: 100%;
}

@media (max-width: 1000px){
    .section-main-top{


    }
}
@media (min-width: 1000px){
    #small-fill{
        height: 0px;
        width: 0px;
    }
    .img-main {
        height: 500px;
        width: auto;
        background-image: url("img/activity-board-game-connection-desk-613508.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.section-main-mid {
    text-align: left;
    padding: 20px;
}
.wra{

    grid-gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    align-content: space-evenly;
}
.acredi-wrap p{
    margin-left: 10px;
    padding: 0px;
}
.section-main-bottom .jumbotron img{
    border-radius: 5px;
    height: 60px;
    width: 90px;
}
/* about */
/* section-b */
@media (min-width: 1000px){
    #about-main{
        font-size: 1.2em;
        grid-gap:20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
/* service */
/* main */

.button-serv{
    text-transform: uppercase;
    padding-left: 10px;
}
.section-main-mid .fa {
    font-size: 15px;
    color: #fff;
}


/* contact */
/* main */
#form-charges{
    text-align: left;
    border:1px solid #d5d5d5;
    border-radius: 10px;
    padding: 20px;
    -webkit-box-shadow: 10px 10px 15px -1px rgba(0,0,0,0.75);
   -moz-box-shadow: 10px 10px 15px -1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 15px -1px rgba(0,0,0,0.75);
}
#option {
    text-transform: uppercase;
}

/* footer */
.sectio-footer-a {
    background-color: #d5d5d5;
    height: 300px;
    margin-top: 40px;
}

.footer-text {
        padding-top: 15%;
}

.footer-text p {
    font-size: 25px;
    padding: 20px;
}

#footer {
    margin-top: 50px;
}
#team-img{
    max-height: 280px;
    padding-right: 40px;
}
.socials a .fa{
    margin-left: 20px;
    color: #96858f;
}

.socials a .fa:hover {
    color: #665c62;
}

.socials a .fa:active {}

.credit {
    display: grid;
}

.credit p {
    padding-top: 10px;
    padding-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    white-space: pre-wrap;
    font-size: 14px;
}
